@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    /*background: #073040;*/
    /*background: #F02F19;*/
    /*background: #FF7D6E;*/
    /*background: #0C1340;*/
    background: #062836;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.5rem;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

header {
	/*background: #FF7D6E;*/
    background: #F02F19;
	height: 3.5rem;
    margin-top: 47px;
    margin-bottom: 50px;
}


#logo {
    position: absolute;
    z-index: 100;
	float: left;
	margin-top: -30px;
    margin-left: -80px;
    margin-bottom: 10px;
    width: 270px;
    height: 120px;
    background-image: url(../images/logo.png);
    background-size: 270px 120px;
    background-repeat: no-repeat;
}

h1 a {
	color: #fff;
	text-decoration: none;
}

h2, h3, h4 {
	font-family: 'Open Sans Light', sans-serif;
	font-size: 20px;
}
#points, #length, #time {
	font-family: 'Pixel', sans-serif;
	font-weight: 400;
	display: block;
    margin-top: 10px;
    margin-bottom: 42px;
    font-size: 60px;
    text-align: center;
    line-height: 60px;
    padding: 13px 30px 20px 30px;
    background: #F02F19;
    color: #fff;
    box-shadow: 8px 8px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*
#statsFrame{
    background-color: #ffffff;
    height: 560px;
    width: 320px;
        /*width: 1240px;*/
    /*
    z-index: -100;
    position: absolute;
    margin-right: 0px;
    margin-left: 910px;
    margin-top: 30px;
    border-style: double;
    border-width: 10px;
    border-color: #F02F19;
    */
        /* margin: -10px -5px
}*/

section {
	margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
section::after {
	content: "";
    display: table;
    clear: both;
}

.col {
	float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.col::after {
	content: "";
    display: table;
    clear: both;
}

.desktop-3 {
	width: 24%;
	padding-top: 26px;
}
.desktop-9 {
	width: 76%;
}

nav ul {
	float: right;
}

nav ul li {
	list-style: none;
	float: left;
}
nav ul li:last-child a {
	border-right: 0.7px solid #062836;
}

nav ul li a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: #fff;
	display: block;
    padding: 16px;
    border-left: 1px solid #062836;
	transition: 300ms all ease-in-out;
}
nav ul li a:hover {
	color: #fff;
	background: #840302;
}
nav ul li a.active {
	font-family: 'Open Sans Bold', sans-serif;
	color: #fff;
	background: #062836;
}

main #snake {
	display: block;
	border: 1px solid #062836;
}